@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen-Regular.ttf");
}
@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Regular.ttf");
}
@font-face {
  font-family: 'KoHo';
  src: url("https://fonts.googleapis.com/css?family=KoHo");
  font-weight: normal;
  font-size: normal;
}
*{
  padding: 0px;
  margin: 0px;
}
body, html{

font-family:'Oxygen', 'KoHo', 'Dancing Script';
font-size: normal;
font-weight: normal;
background-color: #7D7D7A;
}

.bg-image{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  filter: blur(7px);
}


nav{
  background-image: url("../navbarbg.jpg");
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-bottom: 0px;
  border-bottom: 3px solid #BCBCB6;

}
nav ul{
  list-style-type: none;

}
nav li{
  display: inline-block;
  margin-right: 50px;
}
nav a{
  font-family: 'Oxygen';
  color: #FFFFFF;
  font-size: 1.0em;
  text-decoration: none;
  padding-bottom: 5px;
}
nav a:hover{
  color: #BCBCB6;
  border-bottom: 4px solid #BCBCB6;

}
#Koral{
  font-family: 'Dancing Script';
  font-size: 2.9em;
  margin-right: 300px;
  margin-left: 300px;
  padding-bottom: 0.5px;
  border-bottom: none;
  color: #fff;
}
#p{
  font-family: Helvetica;
  display: inline-block;
  position: absolute;
  top: 15%;
  right: 44%;
  color: #fff;
  letter-spacing: 1px;

}
#center{
  display: inline-block;
  position: absolute;
  bottom: 45%;
  right: 36%;
  letter-spacing: 0.5px;
  color: #C2C0B1;
}
#p1 {
  font-family: 'Oxygen', Helvetica;
  color: white;
  font-size: 30px;
  margin-left: 21.5%;
  padding-bottom: 20px;
}
#p3{
  margin-left: 37%;
}
/*Down from here to be well formed for final project*/
/*note for me not for professor*/
#menulist{
  display: inline-block;
  color: #fff;
  padding-left: 47%;
  padding-bottom: 20px;
}
#schedule{
  display: inline-block;
  margin-left: 350px;
}
#img{
  position: absolute;
  top: 160%;
  left: 50%;

}
